/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a professional color scheme */
:root {
    --primary-color: #8777D9; /* Purple */
    --secondary-color: #65AEDD; /* Blue */
    --background-color: #F4EDD3; /* Pastel Yellow */
    --text-color: #333333; /* Dark Gray */
    --accent-color: #90BE6D; /* Pastel Green */
}

/* Apply the color scheme to the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Header styles */
header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    text-align: center;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--primary-color);
}

/* Section styles */
section {
    padding: 20px;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: var(--primary-color);
    color: white;
    margin-top: auto;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
}

.contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px; /* Adjust spacing as needed */
    width: 150px; /* Set a fixed width for each contact-item */
}

.contact-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px; /* Adjust spacing between image and text */
}

/* Style for separators */
.separator {
    color: white;
    font-size: 40px; /* Adjust the size of the separator */
    margin: 0 10px; /* Adjust spacing between separator and items */
    width: 60px;
}

/* Style for your name and LinkedIn text */
.contact-info p {
    margin: 0;
}

.contact-info a {
    color: white;
    text-decoration: none;
}










/* Portfolio project list styles */
#featured-work {
    max-width: 800px; /* Set the max-width to match the portfolio/cv page */
    margin: 0 auto;
}

.project {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Set the max-width to match the portfolio/cv page */
    margin: 0 auto;
}

/* Resume/CV styles */
#resume-content {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Contact form styles */
#contact-form {
    max-width: 400px;
    margin: 0 auto;
}

/* About content styles */
#about-content {
    max-width: 800px;
    margin: 0 auto;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }
    nav ul {
        font-size: 16px;
    }
    .project {
        padding: 15px;
    }
}

/* Portfolio project list styles */
.project img {
    width: 50px;
    height: 50px;
}

/* Portfolio project list styles */
.image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

/* Contact form container */
#contact-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Contact form styles */
#contact-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

#contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

#contact-form textarea {
    resize: vertical; /* Allow vertical resizing of the textarea */
}

#contact-form input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
}

#contact-form input[type="submit"]:hover {
    background-color: var(--accent-color);
}

/* Contact Information container */
#contact-info {
    max-width: 400px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Contact Information styles */
#contact-info h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

#contact-info p {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}

#contact-info a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;
}

#contact-info a:hover {
    color: var(--accent-color);
}

/* Resume/CV styles */
#resume-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

#resume-content h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

#resume-content p {
    font-size: 16px;
    margin-bottom: 15px;
}

#resume-content strong {
    font-weight: bold;
}

#resume-content ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 15px;
}

#resume-content li {
    font-size: 16px;
    margin-bottom: 5px;
}

/* Home page Introduction section styles */
#Introduction {
    max-width: 800px; /* Set the max-width to match the portfolio/cv page */
    margin: 0 auto;
}

.introduction {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Set the max-width to match the portfolio/cv page */
    margin: 0 auto;
}

/* About page section styles */
#About-content {
    max-width: 800px; /* Set the max-width to match the portfolio/cv page */
    margin: 0 auto;
}

.about-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Set the max-width to match the portfolio/cv page */
    margin: 0 auto;
}
